<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jokeslibrary">

    <application>
        <activity
            android:name=".JokesALActivity"
            android:label="@string/title_activity_jokes_al"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>